.ContainerRegister{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgba(0,20,45,1);
   
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.header .Title p{
    color: white;
    margin: 0 10px 0 20px;
}

.ImgHeader{
    width: 200px;
    height: 90%;
    background-color: yellow;
}
img{
    width: 90px;
    height: 100%;
    margin: 0 0 0 10px;
    object-fit: contain;
    transform: scaleX(1.2);
}
.body{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;  
    align-items: center;
    justify-content: center;  
}
.body .Container{

    /* container azulito */

    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(9,34,69,1);
    overflow: auto;
}
.ContainerForms{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ButtonContainer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.ButtonContainer button{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(13, 23, 36);
    border:none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
}
.ContainerLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.ContainerRigth{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
textarea{
    resize: none;
    width: 80%;
    height: 70%;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 1em;
    background-color: rgb(24, 38, 53);
    color: white;
}

input{
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 30px;
    font-size: 1em;
    background-color: rgb(24, 38, 53);
    color: white;
}
#fileInput{
    display: none;
}
#fileInputFinaly{
    margin: 30px;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 38, 53);
    color: white;
    
}
.Imagen{
    width: 70%;
    height:80%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Imagen img {
    width:100%;
    height: 80%;
}
#CircularButon{
    display: none;
}

@media screen and (max-width:1293px) {
    .body .Container .ContainerForms{
        flex-direction: column;
    }
    .ContainerLeft{
        width: 80%;
        height: 40%;
    }
    .ContainerRigth{
        width: 80%;
        height: 60%;
    }
    .ButtonContainer button{
        width: 200px;
        height: 50px;
        font-size: 1em;
    }

}
@media screen and (max-width:538px) {
    input{
        width: 100%;
        font-size: 0.8em;
    }
    textarea{

        width: 100%;
        height: 200px;
        font-size: 0.8em;
    }
    #fileInputFinaly{
        width: 100%;
        height: 30px;
        font-size: 0.8em;
        margin: 10px 0 5px 0;
    }
    .ButtonContainer
    {
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        display: flex;
        position: absolute;    
        border-radius: 50%;
        align-items: center;
        margin: 0 10px 10px 0 ;
        justify-content: center☻;
    }
    #ButtonSend{
        display: none;
    }
    #CircularButon{
        width: 100%;
        height: 100%;
        display: block;
        color: black;
        border-radius: 50%;
        background-color: white;

    }
    #SendIcon{
        width: 100%;
        height: 100%;
        margin:0
    }
}