<div class="ContainerRegister">

    <div class="header">
    
            <img src="../../../assets/Logo-removebg-preview.png" >
      
        <div class="Title">
            <p>Administración</p>
        </div>
    </div>
    <div class="body">
        <div class="Container">
            <div class="ContainerForms">
                <div class="ContainerLeft">
                    <input type="text" name="Nombre" placeholder="Nombre">
                    <textarea maxlength="600" name="Descripcion" id="Descripcion" placeholder="Descripción"></textarea>
                </div>
                <div class="ContainerRigth">
                    <input   id="fileInput" type="file" alife-file-to-base64 multiple (onFileChanged)="onFileChanges($event)">
                    <label id="fileInputFinaly" for="fileInput">Ingresa imagen aquí</label>
                    
                    <div class="Imagen" >
                        <img src={{this.file}} alt="" *ngIf = "this.file != null">
                    </div>
                </div>
            </div>
            <div class="ButtonContainer">
                <button id="ButtonSend">Enviar informacion</button>
                <button id="CircularButon"> 
                    <img id="SendIcon" src="../../../assets/icons/send.svg" >
                </button>
            </div>

        </div>

    </div>

</div>