.Contenedor{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,20,45,1);
    display: flex;
    flex-direction: column;
}
.header{
    height:150px;
    width: 100vw;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
  
}
.body{
    min-height: calc(100vh - 150px);
    width: 100vw;
    display: flex;
    background-color: rgba(0,20,45,1);
    align-items: center;
    justify-content: center;
}

.Img{
    width: 10%;
    height: 100%;

}
.Input{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.Img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.5);
}
.Input input{
    border:none;
    outline: none;
    width: 70%;
    height: 40%;
    padding: 0 20px 0 20px;
    font-size: 20px;
}
.Input #SearchButton{
    width: 5%;
    height: 40%;
    margin: 0 10px 0 10px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}
#SearchButton img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.7) rotate(90deg);
}
.Content{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(9,34,69,1);
    overflow: auto;

}
.leftComponent{
    width: 40%;
    height: 90%;
    background-color: rgba(0,20,45,1);
    padding: 20px;
    box-sizing: border-box;
    margin: 0 2.5% 0 0;
}
.leftComponent img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.rigthComponent{
    width: 50%;
    height: 90%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,20,45,1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#Descripcion{
    text-align: left;
    color: white;
    max-height: 80%;
    width: 100%;
    overflow: auto;
}

@media screen and (max-width:1440px) {
    .body
    {
        min-height: 100%;
        width: 100%;
        overflow: auto;
    }

    .Content{
        min-height: 100vh;
        width: 100%;
        flex-direction: column;
    }
    .leftComponent{
        width: 100%;
        min-height: 0px;
        margin: 0 0 0 0;
    }
    .rigthComponent{
        width: 100%;
        min-height: 0px;
        margin: 0 0 0 0;
    }
    #Descripcion{
        max-height: 100%;
        width: 100%;
        font-size: 1em;
    }
    .Contenedor{
        min-height: 100vh;
        overflow: auto;
    }
   
    .Input{
        width: 100%;
        height: 100%;
        margin: 0 0 0  15px;
       
    }
    .Input input{
        height: 20px;
        font-size: 0.9em;
    }
  
    #SearchButton img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: scale(1.2) rotate(90deg);
    }
}
    