.Contenedor{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color:rgba(0,20,45,1);
    overflow-x: hidden;
}
.header{
    height:20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.Img{
    width: 20%;
    height: 100%;

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Input{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;

}
#Buscador{
    width: 80%;
    height: 40%;
    margin:0 5px 0 5px;
    padding: 0 0 0 5px;
    outline: none;
  
}
#SearchButton{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
#ImageSearch{
    width: 100%;
    height: 100%;
    transform: scale(0.4) rotate(90deg);
}

.body{
    width: 100%;
    min-height: calc(100vh - 60px);
   
}
.Content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.leftComponent{
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
#ImagenConceptual{
    width: 100%;
    height: 100%;
    object-fit: scale-down;

}


.rigthComponent{
    width: 100%;
    min-height: 50%;

}
#Descripcion{
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: transparent;
}

@media screen and (min-width:426px) {
    #SearchButton{
        width: auto;
    }
    #Logo{
        width: auto;
        transform: scale(1.3) ;
        
    }
    .Img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        height: 100px;
    }
    .body{
        width: 100%;
        min-height: calc(100vh - 100px);
       
    }
    #Descripcion{
        font-size: 1em;
    }
    #Buscador{
        font-size: 1em;
    }
}

@media screen and (min-width:1059px) {
    .body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Content{
        width:80%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        background-color: rgb(8, 8, 49);
        
    }
    .leftComponent{
        height: 100%;
        width: 50%;
        padding: 10px;
        box-sizing: border-box;

    }
    .rigthComponent{
        height: 100%;
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #Descripcion{
       height: 50%;
       font-size: 1.2em;
       overflow: auto;
       
    }
    
}
