<div class="Contenedor">
    <div class="header">
        <div class="Img">
            <img src="../../../assets/Logo-removebg-preview.png" alt="">
        </div>
        <div class="Input">
            <input type="text" placeholder="Busca el concepto">
            <button id="SearchButton">
              <img src="../../../assets/icons/search (1).svg" alt="">
            </button>
        </div>
    </div>
    <div class="body">
        <div class="Content">
            <div class="leftComponent">
                <img src="../../../assets/Barco.jfif" alt="">
            </div>
            <div class="rigthComponent">
                <p id="Descripcion">Lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quis cupiditate expedita exercitationem quae ipsam animi asperiores fuga aliquid id laboriosam maiores optio, qui, natus quia officia dicta, magni hic. ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nam porro saepe, minus voluptate recusandae assumenda eveniet accusantium omnis optio placeat vel praesentium iusto amet! Dolorem molestiae deleniti praesentium. Amet!</p>
            </div>
        </div>
    </div>
</div>