<div class="Contenedor">
    <div class="header">
        <div class="Img">
            <img id="Logo" src="../../../assets/Logo-removebg-preview.png" alt="">
        </div>
        <div class="Input">
            <input type="text" id="Buscador" placeholder="Busca el concepto">
            <button id="SearchButton">
              <img id="ImageSearch" src="../../../assets/icons/search (1).svg" alt="">
            </button>
        </div>
    </div>
    <div class="body">
        <div class="Content">
            <div class="leftComponent">
                <img id="ImagenConceptual" src="../../../assets/Barco.jfif" alt="">
            </div>
            <div class="rigthComponent">
                <p id="Descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt mollitia similique optio consequatur assumenda non? Eius ex in eligendi eaque minus, at mollitia quasi? Nostrum repellendus quasi dolores deleniti architecto?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime modi esse tempore eum soluta delectus. Atque, doloremque. Perspiciatis excepturi sapiente voluptas, hic impedit pariatur officiis et voluptatibus, asperiores, est tempora.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates possimus suscipit quia doloremque non. Deleniti explicabo sed, rem necessitatibus omnis obcaecati totam impedit placeat, aliquid reiciendis consectetur corrupti ipsam iste.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam maxime deleniti architecto dicta blanditiis eligendi quam fuga, ullam amet natus assumenda velit praesentium vero, hic aspernatur nesciunt repellendus ea consequuntur!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quaerat quod quia autem corrupti iusto ex minima possimus dolorum quo amet tempore, accusantium deserunt dolor non voluptas laudantium. Ipsam, adipisci?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque explicabo optio facilis temporibus fugiat, quae deserunt amet sunt! Soluta, repellendus quis laboriosam nihil reiciendis dicta dolorum doloribus voluptatem rem aspernatur.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis recusandae eaque sed, exercitationem accusamus odit in fugit voluptate a nesciunt rem natus itaque sint pariatur dolor ex delectus ipsa!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis recusandae eaque sed, exercitationem accusamus odit in fugit voluptate a nesciunt rem natus itaque sint pariatur dolor ex delectus ipsa!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis recusandae eaque sed, exercitationem accusamus odit in fugit voluptate a nesciunt rem natus itaque sint pariatur dolor ex delectus ipsa!
                </p>
            </div>
        </div>
    </div>
</div>