<div class="ContainerLogin">
    <div class="leftComponent">
        <img src="../../../assets/Logo.jpg" alt="">
    </div>
    <div class="rigthComponent">
       
        <img src="../../../assets/Barco.jfif" >
        <div class="Descripcion">
            <p>
               Padrinos nauticos es una pagina orientada a apoyar y colaborar en el desarrollo de 
                los marinos mercantes. En esta pagina podras encontrar informacion sobre distintos
                conceptos asociados a la materia.
            </p>
        </div>
    </div>

    <a href="welcome" class="button">
        <p >Visitar</p>
        <a id="referenciaWelcome" href="welcome">
           
            <img src="../../../assets/icons/arrow-right.svg" alt="">
        </a>
    </a>

</div>